/*################-----PreLoad Start--------##################*/
.preload {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0073b1;
}
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
/*################-----PreLoad End--------##################*/
 .bootstrap-select {
     width: 100% !important;
 }
 .bootstrap-select .dropdown-menu>li>a {
    display: block;
    padding: 2px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    outline: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.navbar-home {
    background-image: none;
    background-color: transparent !important;
    box-shadow: none !important;
    top: 0;
}
.navbar-home.fix
{
  background-color: #fff !important;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12) !important;
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12) !important;
}
nav.navbar {
    transition: .4s ease-in-out;
    z-index: 1000;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    border-bottom: 1px solid #3974af36;
}
.dropdown-menu.show {
    height: auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #e4e4e4;
}
.dropdown-item {
    width: 100%;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    font-family: Poppins, sans-serif;
    color: #9f9fa7;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.flex-fill{
  flex: 1
}

.search-section {
    background-image: -webkit-linear-gradient(270deg, #184fc2, #184fc2);
    background-image: linear-gradient(180deg, #184fc2, #184fc2);
    height: calc(100vh - 40px);
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
     color: #0b5daf;
    margin-bottom: 1.5rem;
}

.page-header.dark, .page-header.dark h1{
  color: white
  }
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsla(0, 0%, 87%, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar ul li.nav-item .nav-link {
    display: inline-block;
    padding: 14px 20px;
    font-family: Poppins, sans-serif;
    color: hsl(206, 44%, 36%);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar ul li.nav-item.active .nav-link {
    color: #0073b1;
}
.navbar ul li.nav-item .nav-link:hover {
    color: #0073b1;
}
.search-section {
    background-image: url(./../img/bg-header.jpg);
    background-size: cover;
    position: relative;
    padding-top: 65px;
    padding-bottom: 65px;
    background-position: bottom;
    background-color: transparent;
}

.search-section .container{
  position: relative;
  z-index: 1
}
.search-section.overlay::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.38), rgba(243, 243, 243, 0.23) 55%);
}
.search-filed-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 55px 0px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
#select-dropdown {
    position: absolute;
    top: 104%;
    width: 100%;
    min-width: 310px;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#select-dropdown .card-body {
    padding: .8rem;
}
.select-block {
    margin-bottom: 15px
}
.select-block:last-child{
  margin-bottom: 0px
}
.select-block ul {
    padding: 0px;
    list-style-type: none;
    margin: 0px;

}
.select-block ul li {
    margin: 0px;
    margin-bottom: 3px;
}
.select-block ul li  input[type="radio"]
{
  display: none;
}
.select-block ul li label {
    display: block;
    margin-bottom: 0px;
}
.select-block ul li input[type="radio"] + span {
    padding: 0px;
    background-color: transparent;
    display: block;
    border-radius: 0px;
    color: #0372b1;
    cursor: pointer;
    text-decoration: underline;
    font-size: .9rem;
}
.select-block ul li input[type="radio"]:checked + span {
    color: #0073b1;
    font-weight: 500;
}
.search-field .section-input{
  flex-basis: 300px
}
.search-field .journal-input{
}
.search-field .year-input, .search-field .volume-input, .search-field .page-input{
  max-width: 130px
}
.search-field div.form-control-div{
  width: 100%;
  position: relative;
}
.search-field div.form-control-div span {
    position: absolute;
    color: white;
    font-size: 11px;
    margin-top: 3px;
    /* right: 0px; */
    opacity: .8;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.search-field div.form-control-div span.tooltip-help{
  background-color: #101010d1;
    padding: 1px 6px;
    border-radius: 3px;
    opacity: 0
}
.form-control-div input:focus + span, .form-control-div input:hover + span{
  opacity: 1 !important;

}
.select-block strong {
    font-size: 15px;
    display: block;
    margin-bottom: 1px;
    font-weight: 700;
    color: #8d8d8f;
}
.select-radio-inner {
    display: flex;

    font-size: .84rem;
}
.select-radio-inner > span {
    display: block;
    min-width: 200px;
}
.search-field {
    position: relative;
    display: none;
}
.search-field.show{
  display: flex;
}
.search-btn {
    position: absolute;
    right: 11px;
    top: 50%;
    font-size: 19px;
    opacity: .9;
    margin-top: -13px;
}
.search-btn a{
  text-decoration: none;
}
.page-header-internal .banner-text > span{
font-size: 13pt;
}
.banner-text > span {
    max-width: 600px;
    margin: 0 auto;
    display: block;
    margin-top: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    color: #0c5298db;
}
.search-field input {
    font-size: 21px;
    border-color: #0073b13b;
    padding-right: 35px;
    margin-right: 2px;
    webkit-box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    box-shadow: 0px 2px 4px rgba(64, 70, 82, 0.13);
    border-width: 1px;
    font-weight: 400;
}
.search-nav .search-field input{
  box-shadow: none !important
}
.search-field input::-webkit-input-placeholder{
color: #8d8d8f;
}
.search-field input::-moz-placeholder{
color: #8d8d8f;
}
.search-field input:-ms-input-placeholder{
color: #8d8d8f;
}
.search-field input:-moz-placeholder{
color: #8d8d8f;
}
.search-select {
    margin-right: 3px;
    position: relative;
    z-index: 10;
}
.select-btn {
    height: 45px;
    min-width: 131px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 100%
}

.select-btn::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.search-nav {
  letter-spacing: normal;
    text-transform: none;
}
.nav-btn-link{
  display: flex;
    align-items: center;
    justify-content: center;
}
.section {
    padding: 100px 0px;
}
.section.services-section {
    padding: 60px 0px;
}
.intro-section{
  padding: 0px 0px;
}
.white-bg-all{
  background-color: white
}

.intro-column{
  display: flex;
}
.intro-column .intro-block {
    flex: 1;
    text-align: center;
    border-right: 1px solid #dadada;
    padding: 25px 20px;
}
.intro-column .intro-block .icon a{

    margin-top: 15px;
}
.intro-column .intro-block:last-child{
  border-right: 0px solid #dadada;
}
.intro-column .intro-block h4 {
    color: #1a76d2;
    font-size: 1.6rem;
    margin-top: 15px;
    font-weight: 600;
}
.intro-column .intro-block p {
    margin-top: 0px;
    font-size: 1.3rem;
    color: #6c6e75;
    font-weight: 300;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.section-divider-line {
    display: inline-block;
    width: 100px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0073b1;
}
.image-section {
    position: static;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ebebeb;
    background-image: none;
    display: flex;
    flex-wrap: wrap;
}
.left-div.left {
    background-image: url(./../img/58c70b2f0709dda74260a94e_04-2.jpg);
    background-size: cover;
    width: 50%;
    height: 600px;
    padding: 60px;
    float: left;
}
.left-div.right {
    position: relative;
    float: left;
    background-color: #f1f1f7;
    background-image: none;
    width: 50%;
    height: 600px;
    padding: 60px;
}
.left-div.right.white{
  background-color: white
}
.column-tittle, .section-tittle {
    margin-bottom: 6px;
    font-size: 28px;
    line-height: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}
.services-section .column-tittle {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0px;
}
.column-tittle.subtittle, .section-tittle.subtittle {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    text-transform: none;
    max-width: 700px;
    margin: 0 auto;
}
.section-divider-line {
    display: inline-block;
    width: 100px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0073b1;
}
.check-list-icon {
    width: 24px;
    margin-right: 13px;
    float: left;
}
.section-content p {
    color: #757575;
    font-size: 1rem;
    line-height: 31px;
}
.section-content h3{
  font-size: 1.2rem;
  margin-bottom: 0px
}
.center-div {
    position: absolute;
    left: 100px;
    top: 20%;
    right: 100px;
}
.section.dark-bg {
    position: static;
    background-color: #313131;
}
.dark-bg .column-tittle{
  color: white
}

.dark-bg .section-content p{
  font-family: Poppins, sans-serif;
  color: #ffffffc2;

}
.dark-bg .column-tittle.subtittle {
    color: #fff;
}
.section-divider-line.light {
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: hsla(0, 0%, 100%, .29);
}
.div-info.left {
    padding-right: 40px;
    text-align: left;
}
.div-info.right{
  padding-left: 40px;
  text-align: left;
}
.gray {
    background-color: #f2f4f8;
}
.features-row {
    margin-top: 51px;
    color: #fff;
    text-align: left;
}
.features-block.price {
    width: 100%;
    border-radius: 10px;
}
.features-block {
    position: relative;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 67%, .32);
    border-radius: 4px;
    background-color: #fff;
    -webkit-transition: background-color 400ms ease;
    transition: background-color 400ms ease;
    color: #000;
    margin-bottom: 20px;
}
.features-block.center {
    background-color: #fff;
}
.features-block:hover {
    background-color: #fff;
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, .05);
    color: #000;
}
.feature-tittle {
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: 'Open Sans', sans-serif;
    color: #1c1c1c;
    font-size: 19px;
    line-height: 22px;
    font-weight: 800;
}
.feature-tittle.subtittle {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.section.testimonials {
    padding-bottom: 80px;
    background-color: #474747;
    background-image: -webkit-linear-gradient(270deg, rgba(37, 37, 37, .93), rgba(37, 37, 37, .93)), url(./../img/58c70b5896695e2b578dab9e_04-3.jpg);
    background-image: linear-gradient(180deg, rgba(37, 37, 37, .93), rgba(37, 37, 37, .93)), url(./../img/58c70b5896695e2b578dab9e_04-3.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
}
.tt-container{
  max-width: 700px;
  margin: 0 auto;
}
.tt-content h3 {
    font-size: 18px;
    color: #fbfbfbe8;
    font-weight: 300;
    line-height: 46px;
    padding: 0 48px;
    position: relative;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 30px;
}
.tt-quote {
    font-size: 65px;
    font-weight: 500;
    line-height: 70px;
    margin-right: 20px;
    float: left;
    color: #ffffff;
    display: block;
    margin-bottom: 40px;
    margin-left: 2px;
    position: absolute;
    left: 0px;
}
.tt-quote-right {
    float: right;
    margin-right: 0;
    position: absolute;
    margin-left: 0px;
    top: 0;
    margin-bottom: 0;
    right: 0px;
    left: auto;
}
.white{
  color: white
}
.tt-container h4 {
    font-size: 21px;
    font-weight: 700;
    color: #fbfbfb;
}
.section.featured {
    padding-top: 50px;
    padding-bottom: 50px;
}
.featured-slider .item img{
  width: auto;
  margin: 0 auto;
}
.footer {
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #181717;
    color: #b3b3b3;
}
.footer-tittle {
    margin-bottom: 35px;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.footer-tittle.middle {
    margin-top: 40px;
    margin-bottom: 20px;
}
.footer-text {
    font-family: Poppins, sans-serif;
    color: #666;
    font-weight: 300;
}
.link.footer-link {
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
    font-family: Poppins, sans-serif;
    color: #666;
    font-weight: 300;
    text-decoration: none;
}
.link.footer-link:hover {
    color: #fff;
}
.list-footer {
    padding-top: 0px;
    padding-bottom: 5px;
}
.footer-list {
    text-align: left;
    list-style-type: none;
    padding: 0px
}
.footer-text.white {
    margin-right: 10px;
    color: #fff;
    font-weight: 400;
}
.blog-wrapper {
    display: block;
    width: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid hsla(0, 0%, 76%, .19);
    text-decoration: none !important;
}
.subtitle-footer {
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    text-align: center;
}
.bottom-footer-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Poppins, sans-serif;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}
.address_box div {
    display: flex;
}
.contact-info {
    display: inline-block;
    margin-left: 15px;
    overflow: hidden;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 15px;
}
.date {
    margin-right: 10px;
    float: left;
    margin-top: 3px;
}
.address_box i {
    font-size: 16px;
    color: #0073b1;
}
.social-list{
  display: flex;
}
.social-list a {
    font-size: 15px;
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50%;
    background-color: #181717;
    color: #ffffffad !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border: 1px solid #ffffff1f;
}
.social-list a:hover{
  background-color: #181717;
  color: white !important
}

.search-select .dropdown-header {
    font-size: .79rem;
    color: #0662c6;
}
.search-select .bootstrap-select.btn-group .dropdown-menu {
    min-width: 10rem;
    text-transform: none;
}
.search-select .bootstrap-select .dropdown-menu>li>a {
    font-weight: 500;
    color: #212121;
}
.search-select .bootstrap-select .dropdown-menu>li.selected>a{
  background-color: #047bf8;
  color: white
}
.draf-bg{
  background-image: url(./../img/draf-bg.png);
  background-size: cover;

}
body.page-internal {
    padding-top: 66px !important;
}
.container-wide {
    min-width: 100% !important;
    padding: 0px 40px;
}
.search-nav {
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
}
body.page-internal .navbar-collapse {
    flex-grow: initial;
}
.fix-rightsidebar .search-sidebar {
    position: fixed;
    width: 300px;
    transition: all ease-in-out 300ms;
    z-index: 100;
}
.close-sidebar .search-sidebar {
    left: -300px;
}
.fix-rightsidebar .search-content {
    margin-left: 300px;
    transition: all ease-in-out 300ms;
    min-height: calc(100vh - 66px);
    padding-bottom: 84px;
}
.close-sidebar .search-content {
    margin-left: 0px
}
.result-container{
  padding-top: 15px
}
.result-stats {
    color: #808080;
    line-height: 43px;
}
h2.result_title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.info_line {
    color: #25773f;
    margin-bottom: 10px;
}
.search-text {
    font-size: .9rem;
}
.result-block {
    margin-bottom: 20px;
    padding: 30px 25px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    border-radius: 6px;
    border: 1px solid #f1f1f1;
}
.filter-list b.case-count {
    color: #868383;
    padding-left: 5px;
    font-weight: 300;
    font-size: 12px;
    float: right;
}
.filter-list .checkbox label {
    font-size: 13px;
    line-height: 16px;
}
.filter-within .form-control{
  min-width: 230px
}
.filter-dropdown {
    margin: 13px 0px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding-top: 12px;
    padding-left: 11px;
        display: none;
}
.filter-dropdown.open {
    display: block;
}
.filter-dropdown ul {
    list-style-type: none;
    padding: 0px;
}
.filter-dropdown ul li {
    margin-bottom: 3px !important;
}
.filter-dropdown ul li label {
    font-size: 12px !important;
}
.case-popup {
    transition: all 300ms ease-in-out;
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: #fff6d7;

    display: none;
}
.case-popup.active {
    height: auto;
    opacity: 1;
    margin-top: 10px;
    display: block;
}
.header-popup {
    width: 100%;
    color: #3E3221;
    border-radius: 2px 2px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: 700;
    border-bottom: 1px solid #f7edcc;
}
.header-popup a{
  color: #3E3221;
}
.popup-body {
  padding: 20px;
}
.judges-list span {
    margin-right: 2px;
    border: 1px solid #e8dbae;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: #fbf2d4;
    font-size: 13px;
}
.popup-result .case-search .btn{
margin-left: 5px
}
.popup-result .case-search .form-control {
    max-width: 400px;
    height: 32px;
}

.detail-container {
    margin-right: 35%;
    position: relative;
    background-color: white;
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    min-height: calc(100vh - 74px);
}
.close-sidebar .right-sidebar-wrap{
  right: -35%;
}
.close-sidebar .detail-container {
    margin-right: 0%;
}
.close-sidebar .text-slider {
    width: 100%;

}
.right-sidebar-wrap {
    position: fixed;
    right: 0;
    width: 35%;
    height: calc(100vh - 66px);
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    font-size: 11px;
    top: 66px;
    box-shadow: 0 2 11px #e4e4e4;
    background-color: #F9F9F9;
    z-index: 100;
}
.text-slider {
    position: fixed;
    width: 65%;
    background-color: #f9f9f9;
    z-index: 100;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(115, 123, 140, 0.14);
    transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
}
ul.listslider li > div{
  display: flex;
  align-items: center;
}
.updown-links {
    margin-left: 7px;
    margin-top: -2px;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.text-slider ul li:hover .updown-links {
    visibility: visible;
    opacity: 1;
}
.text-slider ul li a {
    display: block;
    font-size: 12px;
    color: #2d2d2d;
    line-height: initial;
    border-radius: 22px;
    font-weight: 700;
    margin-right: 0;
}
.text-slider .premium-icon {
    position: absolute;
    left: -1px;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 2px 9px;
    line-height: 46px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #ed7e1f;
    border-right: 1px solid #eae9e9;
}
.result-detail{
  padding-top: 70px;
  max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
    transition: all ease-in-out 500ms;
    padding-left: 10px;
    padding-right: 10px;
}
span.bullet {
    display: inline-block;
    font-size: 27px;
    font-weight: 700;
    vertical-align: text-top;
    line-height: 4px;
    margin: 0 12px;
}
.detail-box-header h3 {
    font-size: 2.5rem;
}
.notes-popup {
    position: fixed;
    height: calc(100vh - 85px);
    width: 452px;
    top: 120%;
    right: 0;
    z-index: 100000;
    display: flex;
    align-items: flex-end;
    transition: all ease-in-out 500ms;
}
.notes-popup.open {
    top: 85px;
}
.notes-popup-inner {
    width: 100%;
}
.notes-main {
    width: 75%;
    background-color: #293145;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 1px solid #a2a8b057;
    float: right;
    color: #ffffff;
    border-radius: 7px;
    margin: 20px;
}
.popup-header {
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff14;
    position: relative;
}
.popup-header-inner {
    font-weight: 700;
}
.popup-header-inner .close {
    font-size: 11px;
    opacity: .8;
    margin-top: 4px;
    color: #9cabd6c7;
    text-shadow: 0 1px 0 #2a3145;
}
.notes-Form {
    padding: 20px;
}
.notes-Form .bootstrap-select .btn {
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dde2ec;
    padding-right: 27px;
}
.search-chart {
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0 20px;
    height: 104px;
    width: 250px;
}
.legend-list {
    margin-left: 27px;
    margin-top: 30px;
}
.igraph-box {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 19px;
}
.legend-list ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}
.legend-list li {
    display: inline-flex;
    margin-bottom: 13px;
    margin-right: 26px;
    align-items: center;
}
.legend-color {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 6px;
}
.share-buttons {
    right: auto;
    top: 292px;
    transition: all ease-in-out 200ms;
    display: block;
    left: 0;
    overflow: visible;
    padding: 0px;
    list-style-type: none;
}
.fixed-toolbar {
  position: absolute;
  width: auto;
}
.detail-content #sticky-wrapper{
    position: absolute;
}
.blurred-bg {
    flex: 1;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.share-buttons li {
    vertical-align: middle;
    margin-bottom: 8px;
}
.share-buttons li a {
    margin-right: 0;
    padding: 0 6px;
    border-radius: 0;
    font-size: 21px;
    margin-bottom: 7px;
}
.si-colored-mail{
    color: #ea3600;
}
.si-colored-facebook{
    color: #3B5998!important;
}
.si-colored-twitter {
    color: #00ACEE!important;
}
.si-colored-linkedin{
    color: #0E76A8!important;
}
.si-colored-note, .si-colored-print{
      color: #313131;
}

.social-icon-sm i {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 30px;
    position: relative;
}
.detail-content-inner {
    padding-left: 65px;
}

.detail-box-header{
  margin-bottom: 3rem
}
.separator-heading {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.separator-heading:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dfe2e6;
    position: absolute;
    left: 0;
    top: 50%;
}
.separator-heading span {
    background-color: #fff;
    position: relative;
    z-index: 1;
    border: 1px solid #3a3a3a;
    padding: 3px 18px;
    border-radius: 47px;
    line-height: 18px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
}
.separator-heading .premium-icon {
    border: 1px solid #ef8829!important;
    color: #ed7e1f;
    background-color: #fbfbfb;
}
.tab-panel .tab-content>.tab-pane {
    padding: 20px 0px;
}
.tab-panel .nav-link {
    font-weight: 600;
}
.pills-list {
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.pills-list li {
    padding: 4px 8px;
    background-color: #f9f9f9;
    border: 1px solid #ecebeb;
    margin: 2px;
    font-size: 14px;
}
.advocate-detail div{
  margin-bottom: 5px
}
.main-detail-content p, .main-detail-content, .university_info_content {
    font-size: 16px;
    line-height: 2em;
    text-align: justify;
}
.main-detail-content .section {
    padding: 15px 0px;
}
.footnote {
    font-size: 0.8em;
    /* border-top: 1px solid #a0a0a0; */
    margin: 20px 0px 20px 0px;
    /* border-bottom: 1px solid #a0a0a0; */
    background-color: #fff6d7;
    padding: 3px 10px;
    border-radius: 4px;
    color: #312b2b;
}
blockquote {
    padding: 10px 20px;
    /* margin: 0 0 20px; */
    font-size: 17.5px;
    border-left: 5px solid #f3f3f3;
    margin: 12px;
}
.aside-toggle {
    position: absolute;
    left: -34px;
    top: 0;
    margin-right: 1px;
    z-index: 10000;
}
.aside-toggle a {
    padding: 16px 7px;
    font-size: 19px;
    color: #333;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border-left: 1px solid #eae9e9;
    height: 50px;
    border-bottom: 1px solid #eae9e9;
}
.sidebar-inner {

}
.sidebar-tab-content .block{
  padding: 20px;
      border-bottom: 1px solid #e4e4e4;
}
.sidebar-tab-content .block h3{
  margin-top: 0;
font-size: 15px;
font-weight: 700;
}
.sidebar-tab-content .block p{
  font-size: .9rem
}
.sidebar-tab-content .block strong{
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.right-sidebar-toggle {
    position: absolute;
    right: -33px;
    top: 14px;
    display: none;
}
.right-sidebar-toggle a {
    display: block;
    padding: 5px 10px;
    background-color: #f9f9f9;
    font-size: 15px;
    border: 1px solid #ecebeb;
    border-left: 0px;
    position: relative;
    height: 89px;
    border-radius: 0px 4px 5px 0px;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 2px 1px 3px rgba(29, 35, 49, 0.02);
}
.right-sidebar-toggle a span {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    left: -4px;
    top: 43px;
    font-size: 14px;
    font-weight: 500;
}
.act-info {
    color: #0073b1;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 5px;
    display: block;
}

.page-header {

  background-color: #474747;
    background-image: -webkit-linear-gradient(270deg, rgba(37, 37, 37, .93), rgba(37, 37, 37, .93)), url(./../img/58c70b5896695e2b578dab9e_04-3.jpg);
    background-image: linear-gradient(180deg, rgba(37, 37, 37, .93), rgba(37, 37, 37, .93)), url(./../img/58c70b5896695e2b578dab9e_04-3.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    position: relative;
    padding-top: 132px;
    padding-bottom: 30px
}
.page-header.contact {
    background-color:  #474747;
    background-image: -webkit-linear-gradient(270deg, rgba(25, 118, 210, .97), rgba(25, 118, 210, .97)), url(./../img/contact-bg.png);
    background-image: linear-gradient(180deg, rgba(25, 118, 210, .97), rgba(25, 118, 210, .97)), url(./../img/contact-bg.png);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    text-align: center;
    padding-bottom: 115px;
}
.page-header.about{
  height: 540px;
  padding-bottom: 0px
}
.about-video-container {
    max-width: 650px;
    margin: 0 auto;
    margin-top: 28px;
}
.about-video-container img {
    margin-top: -244px;
    background-color: transparent;
    width: 100%;
}
.video-section {
    overflow: visible;
    position: relative;
    padding-bottom: 40px;
        background-color: #f1f1f7;
}
.about1{
  padding-bottom: 0px
}
.tab-topnav{
    z-index: 100!important
}
.tab-topnav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;

}
.tab-topnav .nav-tabs .nav-link {
    font-weight: 600;
    font-size: .94rem;
    padding: .8rem 1rem;
}
.section-thin{
  padding: 50px 0px;
}

.member-container > img {
    max-width: 118px;
    border-radius: 12px;
    margin-bottom: 20px;
    border-radius: 52%;
    border: 7px solid #f2f4f8;
}
.team-pane .thumbnail {
    text-align: center;
    border-radius: 6px;
    padding: 1.2rem 0.5rem 0.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    text-decoration: none;
    color: #3E4B5B;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: block;
    width: calc(25% - 16px);
    margin: 8px;
}
.team-pane .thumbnail:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
    box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
}
  .element-wrapper.center{
    text-align: center;
  }
  .element-wrapper.center .element-header:after {

    left: 50%;
    margin-left: -25px;
}
.flex-row {
  display: flex!important;
  flex-wrap: wrap;
}
.flex-row.center {
    justify-content: center;
}
.team-block{
  margin-bottom: 80px
}
.team-block .flex-row{
  max-width: 900px;
  margin: 0 auto;
}
.thumb-inner .caption p {
    margin-bottom: 0px;
    font-size: 13px;
    color: #949494;
}
.thumb-inner .caption {
    border-top: 1px solid #f3f3f3;
    padding-top: 14px;
}
.linkedin-btn {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}
.gallery-item {
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
    text-decoration: none !important;
    color: #3E4B5B;
    display: block;
    overflow: hidden;
    margin-bottom: 25px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    font-size: 13px;
}
.gallery-item:hover{
  -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
  box-shadow: 0px 5px 12px rgba(126,142,177,0.2);
  color: #3E4B5B;
}
.gallery-item img {
    width: 100%
}
.gallery-item .caption-text{
  padding: 1.2rem;
}
.gallery-header{
  padding-bottom: 157px;
}
.gallery-section {
    margin-top: -167px;
}
.no-padder{
  padding: 0px
}
.plan-image {
    font-size: 35px;
}
.plan-switch {
    position: absolute;
    top: 24px;
    width: 100%;
}
.plan-switch .plan-link {
    font-size: 12px;
    color: #b1b1b1;
    display: inline-block;
    padding: 0px 4px;
    text-decoration: none;
}
.plan-switch .plan-link:first-child {
    border-right: 1px solid #dad4d4 !important;
    padding-right: 8px;
}
.plan-switch .plan-link.active {
    color: #0073b1;
}
.monthly-price,.yearly-price{
  display: none;
}
.price-value.show{
  display: block;
}
.accordion .card{
  margin-bottom: 10px
}
.accordion .card .card-header{
  padding: 0px
}
.accordion .card .card-header .btn{
  width: 100%;
    text-align: left;
    padding: 1.2rem 1.25rem;
    font-weight: 500;
    font-size: .95rem;
    text-decoration: none;
    color: #585858;
}
.accordion .card .card-header .btn small {
    display: block;
    margin-top: 8px;
    color: #969696;
}
.job-detail{
  margin-bottom: 30px
}
.apply-btn {
    padding-top: 15px;
    border-top: 1px solid #f2f2f2;
}
.arrow-list {
    padding: 0;
    list-style-type: none;
    font-size: 15px;
}
.arrow-list li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 6px;
    padding-bottom: 10px;
}
.arrow-list li::before {
    content: "\f101";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4a7ba5;
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 7px;
}
.map-section {
    margin-top: -86px;
    padding-bottom: 80px;
    background-color: #f1f1f7;
}
.map-section .left-div.left {
    background-image: none;
    padding: 0px;
    height: auto;
}
.map-section .left-div.right {
    background-color: white;
    padding: 45px 45px;
    border: 1px solid #f1f1f7;
    height: auto;
}
#map {
  width: 100%;
  height: 100%;
}
.map-section .column-tittle {
    margin-bottom: -8px;
    font-size: 21px;
}
.address_box {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.university_pts {
    padding: 4px 0px;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
.university_pager {
    text-align: center;
    padding: 21px 0px;
    font-size: 16px;
}
.university_pager a {
    margin: 0px 14px;
    font-size: 21px;
}
.article-header{
  padding: 20px 25px;
    font-size: .99rem;
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 1px solid #edeef3;
}
.article-header h4{
      font-size: 1.2rem;
}
.article-header span{
  font-size: 13px
}
.rank-block {
    display: flex;
    align-items: center;
    background-color: #eff1f7;
    border: 1px solid #0879f8;
    padding-right: 6px;
}
.rank-block h4 {
    margin: 0;
    padding: 8px;
    background-color: #0073b1;
    margin-right: 7px;
    border-right: 1px solid #e4e4e4;
    font-size: 14px;
    color: white;
}
.rank-label {
    font-size: 25px;
    color: #0879f8;
    padding: 0px 2px;
    margin-bottom: 0;
    margin-top: 0;
}
.rank-label-container .avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}
.rating-stars {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 17px;
}
.rating-stars ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-bottom: 0px
}
.rating-stars ul > li.star {
    display: inline-block;
}
.rating-stars ul > li.star > i.fa {
    font-size: 16px;
    color: #ccc;
}
.rating-stars ul > li.star.selected > i.fa {
    color: #EDB867
}
.university-info .block{
  padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.university-info .block h4 {
    font-size: 1.1rem;
}
.university-info .block ul {
    padding: 0px;
    list-style-type: none;
}
.university-info .block ul li{
  margin-bottom: 12px

}
button.close .close-label {
    margin-right: 10px;
    color: #C26C6C;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: .81rem;
}
button.close .os-icon {
    font-size: 12px;
    color: #111 !important;
}
button.close {
    position: absolute;
    top: 15px;
    right: 20px;
    float: none;
    z-index: 999;

    opacity: 1;
    text-shadow: none;
}
.university_slide_block_info {
    width: 100%;
    padding: 14px 0;
    display: flex;
    flex-wrap: wrap;
}
.university_rank_total {
    vertical-align: middle;
    padding-left: 15px;
    flex: 1;
}
.university_seat {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.university_seat.bgorange {
    background-color: #fd8c17;
}
.university_seat span {
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.university_rank_slid {
    text-align: center;
    min-height: 48px;
    margin-top: 15px;
}
.university_rank_slid span {
    display: block;
    font-size: 13px;
    line-height: 24px;
}
.rank-text {
    font-weight: 600;
    font-size: 14px!important;
}
.university_seat.bgblue {
    background-color: #0073b1;
}
.university-name {
    color: #7d7f82;
}
.university_slide_block_title span {
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    text-align: center;
}
.video-link {
    display: block;
    position: relative;
    outline: none;
}
.video-link::after {
    content: "\f04b";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32.5px;
    margin-top: -32.5px;
    width: 65px;
    height: 65px;
    /* background-color: rgba(39, 49, 64, 0.6); */
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    border: 4px solid #a7a7a7;
    padding-left: 10px;
    color: #909090;
    opacity: .5;
}
.video-link:hover::after{
  opacity: 1
}
.banner-content{
      background-color: #474747;
      background-image: -webkit-linear-gradient(270deg, rgba(37, 37, 37, .93), rgba(37, 37, 37, .93)), url(./../img/58c70b5896695e2b578dab9e_04-3.jpg);
      background-image: linear-gradient(180deg, rgba(37, 37, 37, .93), rgba(37, 37, 37, .93)), url(./../img/58c70b5896695e2b578dab9e_04-3.jpg);
      background-position: 0px 0px, 50% 50%;
      background-size: auto, cover;
      background-attachment: scroll, fixed;
      padding-top: 36px;
      padding-bottom: 36px;
}
.banner-content h3 {
    color: #f2f4f8;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 14px;
}
.banner-content p {
    color: #a7a7a7;
    margin-bottom: 23px;
    font-size: 1rem;
    font-style: italic;
}
.banner-content .btn {
    font-size: 15px;
    padding: 9px 28px;
    margin: 0px 4px;
    font-weight: 500;
}
.feature-div-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.feature-div-block .feature-img {
    margin-bottom: 15px;
    border: 1px solid #cccccc63;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.1);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.1);
}
.feature-name{
  flex: 1
}
.info-box .feature-tittle {
    color: white;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 29px;
    border-bottom: 1px solid #ffffff1c;
    margin-bottom: 28px;
}
.info-box .features-block {
    background-color: #1a76d2;
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, from(#1a76d2), to(#2898da));
    background: linear-gradient(to bottom right, #1a76d2, #2898da);
    border: 1px solid #659dd8;
    font-size: 1rem;
}

.full-video{
  background-image: url(./../img/rj_video.jpg);
  background-position: right;
  background-size: cover;
  height: 550px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white
}
.play-link {
    display: inline-block;
    height: 100px;
    width: 100px;
    display: inline-flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #1b1b1b;
    font-size: 26px;
    margin-bottom: 80px;
    opacity: .6;
    outline: none
}
.play-link:hover{
  opacity: 1;
  text-decoration: none;
  color: #1b1b1b;
}
.video-contanet .video-heading {
    color: white;
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 21px;
}
.video-contanet .video-subheading {
    font-size: 1rem;
    opacity: .8;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}
.user-block > a{
  margin-left: 8px;
}
.user-block a i {
    font-size: 19px;
    position: absolute;
    left: 1px;
    top: 13px;
    color: #1a76d2ba;
}
.auth-wrapper {
    background-image: url(./../img/testimonial.jpg);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 98px !important;
    padding-bottom: 35px !important;
    background-position-y: 40px;
}
.auth-wrapper::before{
  display: none;
}
.login-footer {
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;
}
#footer {
    background-color: #0372b1;
    color: #fbfbfbfa;
    font-size: 13px;
    padding: 12px 0px;
    margin-top: -43px;
}
.menu-side-left #footer{
  margin-left: 300px
}
.menu-side-left.close-sidebar #footer{
  margin-left: 0px
}
/*############-----image slider css Start---------#############*/
#slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slideshow .slide-img {
    height: calc(100vh - 40px);
    position: relative;
    width: 100%;
    background-size: cover;
}
#slideshow .slide-img.img1{
background-image: url(./../img/bg-header1.jpg);
}
#slideshow .slide-img.img2{
background-image: url(./../img/bg-header2.jpg);
}
#slideshow .slide-img.img3{
background-image: url(./../img/bg-header3.jpg);
}
#slideshow .slide-img.img4{
background-image: url(./../img/bg-header4.jpg);
}
.white.banner-text h1 {
    color: #ffffff;
}
.white.banner-text > span {
    opacity: .9;
    color: #ffffff;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}
.index-v2 .navbar-brand img {
    max-width: 166px;
}
/*############-----image slider css End---------#############*/


/*only for screens greater than 992px  */
@media (min-width: 768px) {
  .navbar .navbar-nav > li.dropdown > .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  top: 97%;
}
    .navbar .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

/* end nav on hover  */

@media (max-width: 992px){
  .support-index .university-content-w .university-info {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    -webkit-box-shadow: 0px 20px 60px rgba(4, 123, 248, 0.3);
    box-shadow: 0px 20px 60px rgba(4, 123, 248, 0.3);
    background-color: #fff;
    background-image: none;
    display: none
  }
  .support-index .university-content-w .university-content .show-university-info {
    display: block
  }
  .support-index .university-content-w.force-show-folded-info .university-info {
    display: block
  }
  .support-index .university-content-w .university-content {
    padding-right: 20px;
    padding-left: 20px
  }
  .support-index .university-content-w.folded-info .university-content {
    padding: 10px 20px
  }
  .detail-container {
    margin-right: 0px;
}
.text-slider {
    width: 100%;
}
.right-sidebar-wrap {

    width: 60%;

}
.close-sidebar .right-sidebar-wrap {
    right: -60%;
}
.fix-rightsidebar .search-content {
    margin-left: 0px;
    padding-left: 45px;
}
.right-sidebar-toggle{
  display: block;
}
.fix-rightsidebar .search-sidebar {
    border-right: 1px solid #ecebeb;
}
}
@media (max-width: 991px)
{

.left-div.right {
    height: 650px;
}
.center-div {
    left: 65px;
    top: 10%;
    width: 70%;
}
.left-div.left {
    height: 650px;
}
.image-section.new {
    padding-right: 0px;
    padding-left: 0px;
}

}
@media (max-width: 767px)
{
  .intro-section .container{
    max-width: 95%
  }
  .university_rank_total {
    flex: auto;
    width: 50%;
}
body.page-internal.has-nav-search {
    padding-top: 100px !important;
}
.left-div.left {
    height: 550px;
    width: 100%;
    height: 550px;
    clear: none;
}
.left-div.right {
    height: 550px;
    width: 100%;
    height: 550px;
    clear: none;
}
.center-div {
    left: 75px;
    top: 15%;
}
.navbar .container{
  max-width: 100%
}
.nav-mobile{
  width: 100%;
padding: 0px 20px;
}
.navbar-collapse{
    background-color: white;
    padding-bottom: 10px;
}
.igraphic-img img{
  width: 100%;
  margin-top: 30px
}
.idraf-img{
  margin-bottom: 40px
}
.team-pane .thumbnail {
    width: calc(50% - 16px);

}
}
@media (max-width: 767px)
{

.search-filed-box {
    display: block !important;
}
.search-nav {
    flex-direction: row;
    max-width: 100%;
    padding: 0px 20px;
    display: flex !important;
}
.search-nav .select-btn {
    height: 36px;
    min-width: auto;
}
.search-nav .search-field input {
    font-size: 15px;
}
.search-select {
    width: 100%;
    margin-bottom: 10px
}
.search-nav .search-select {
    width: auto;
    margin-bottom: 0px;
}
.search-field {
    width: 100%;
}
}
@media (max-width: 576px)
{
  .intro-column {
      flex-direction: column;
  }
  .intro-column .intro-block {
    border-bottom: 1px solid #dadada;
    padding: 32px 10px;
    border-right: 0px;
}
.intro-column .intro-block:last-child {
    border-bottom: 0px;
}
}

@media (max-width: 480px)
{
  .team-pane .thumbnail {
      width: calc(100% - 16px);

  }
  .banner-text h1 {
    font-size: 1.5rem;
}
.page-header {

    padding-top: 98px;
    padding-bottom: 7px;
}
.gallery-header {
    padding-bottom: 116px;
}
}
